<section id="ouryacht" class="ouryachts conteiner">
    <h2 class="ouryachts-title">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="ouryachts-cards">
        <li class="ouryachts-card-1">
            <picture>
                <img src="./img/our-horse/horse-1.jpg" alt="yacht">
            </picture>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="ouryacht-name">Arrow</p>
                    <p class="ouryacht-klass">LUXURY Horse</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>LENGTH</li>
                        <li>BUILDER</li>
                        <li>BUILT</li>
                        <li>GUESTS</li>
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>48m(155ft)</li>
                        <li>Admiral</li>
                        <li>2021</li>
                        <li>11 in 5 cabins</li>
                        <li>€33,500,000</li>
                    </ul>
                </div>

            </div>
        </li>
        <li class="ouryachts-card-2">
            <picture>
                <img src="./img/our-horse/horse-2.jpg" alt="yacht">
            </picture>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="ouryacht-name">Arrow</p>
                    <p class="ouryacht-klass">LUXURY Horse</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>LENGTH</li>
                        <li>BUILDER</li>
                        <li>BUILT</li>
                        <li>GUESTS</li>
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>48m(155ft)</li>
                        <li>Admiral</li>
                        <li>2021</li>
                        <li>11 in 5 cabins</li>
                        <li>€33,500,000</li>
                    </ul>
                </div>

            </div>
        </li>
        <li class="ouryachts-card-3">
            <picture>
                <img src="./img/our-horse/horse-3.jpg" alt="yacht">
            </picture>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="ouryacht-name">Arrow</p>
                    <p class="ouryacht-klass">LUXURY Horse</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>LENGTH</li>
                        <li>BUILDER</li>
                        <li>BUILT</li>
                        <li>GUESTS</li>
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>48m(155ft)</li>
                        <li>Admiral</li>
                        <li>2021</li>
                        <li>11 in 5 cabins</li>
                        <li>€33,500,000</li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
    <a class="our-a" href="#rents">Horse rental</a>

</section>