<section id="rents" class="conteiner rent-section">
    <div class="rent">
        <h2 class="rent-form-title">Rent a Horse now</h2>
        <form class="rent-form">
            <input class="rent-form-input" name="user-name" type="text" pattern="[a-zA-Zа-яА-ЯіІїЇєЄ]+"
                placeholder="Full Name" required>
            <input class="rent-form-input" name="user-email" type="email" placeholder="Email" required>
            <input class="rent-form-input" name="user-phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                placeholder="Phone number" required>
            <textarea class="rent-form-comment" name="user-comment" placeholder="Comment" required></textarea>
        </form>
        <button class="rent-submit-buttom" type="submit">Send</button>
    </div>
    <div class="rent-picture">
        <picture>
            <img src="./img/rent/woman.jpg" alt="woman">
        </picture>
    </div>
</section>